a .fa:before {
	cursor: pointer;
	text-decoration: none;
}

.ico-bg {
	display: block;
	text-align: center;
}

.awesome-feature .ico-bg a {
	display: inline-block;
	overflow: hidden;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition:    background .3s ease-in-out;
	-ms-transition:     background .3s ease-in-out;
	-o-transition:      background .3s ease-in-out;
	transition:         background .3s ease-in-out;
}

.awesome-feature .ico-bg .fa {
	cursor: pointer;
	position: relative;
	text-align: center;
}