a .fa:before {
	cursor: pointer;
	text-decoration: none;
}

.awesome-feature .fa-stack {
	display: block;
	margin: 0 auto 10px;
}

.awesome-feature .widget-title {
	background: transparent;
}

.fa-dark {
    color: #000;
}

.fa-overlay {
    color: rgba(21, 21, 21, 0.38);
}
